networks:
  web:
    external: true

services:
  caddy:
    image: caddy:2.10.2-alpine@sha256:d266901f6e0c9d74528463654b7e872e6af8f6bbe23ca13576a1fb601202f8da
    restart: always
    container_name: caddy
    ports:
      - "80:80"
      - "443:443"
      - "443:443/udp"
    environment:
      - EMAIL
    configs:
      - source: Caddyfile
        target: /etc/caddy/Caddyfile
    volumes:
      - data:/data
      - config:/config
    networks:
      web:

configs:
  Caddyfile:
   file: /home/ubuntu/caddy/Caddyfile

volumes:
  data:
  config: