version: "3.7"

networks:
  web:
    external: true

services:
  uptime-kuma:
    image: louislam/uptime-kuma:2.1.1@sha256:e4045dc9b2b96a5503be7372e3b648104ba7153e452974c2247c66178389ac39
    container_name: uptime-kuma
    restart: always
    volumes:
      - /home/ubuntu/uptime-kuma:/app/data
    networks:
      web: