version: "3.7"

networks:
  web:
    external: true

services:
  uptime-kuma:
    image: louislam/uptime-kuma:2.1.3@sha256:32c352a235fd10f98b3f64a6a4345d3c0c7f4e8be7810d2e1e867f7fe2e48ba2
    container_name: uptime-kuma
    restart: always
    volumes:
      - /home/ubuntu/uptime-kuma:/app/data
    networks:
      web: