version: "3.7"

networks:
  web:
    external: true

services:
  uptime-kuma:
    image: louislam/uptime-kuma:2.1.0@sha256:da418b1f5655c12d2d62aa3d189117bfad5d83c2ab99bb3e82b2eaaf5246bbc1
    container_name: uptime-kuma
    restart: always
    volumes:
      - /home/ubuntu/uptime-kuma:/app/data
    networks:
      web: